/* You can add global styles to this file, and also import other style files */
@import url("../src/assets/fonts/font/stylesheet.css");

body {
    background: white;
}

span, p, label {
    font-family: TT Norms;
}

input {
    padding-left: 1%;
}
