<div>
  <p>Тип оборудования: <span>{{data.type}}</span></p>
  <p>Статус: <span>{{data.status}}</span></p>
  <p>Модель: <span>{{data.model}}</span></p>
  <p>Ответсвенное подразделение (ремонт): <span>{{data.responsibleDepartment}}</span></p>
  <p>Эксплуатирующее подразделение: <span>{{data.operatingDivision}}</span></p>
  <p>МОЛ: <span>{{data.mol}}</span></p>
  <p>Территория: <span>{{data.area}}</span></p>
  <p>Серийный номер: <span>{{data.serialNumber}}</span></p>
  <p>GUID: <span>{{data.guid}}</span></p>
  <p>Bims ID: <span>{{data.bimsId}}</span></p>
  <p>Tam: <span>{{data.tam}}</span></p>
</div>
